body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    inset: 0px;
    overflow: hidden;
    background-image: url(https://pan.axooo.cn/f/MDWXcj/%E8%83%8C%E6%99%AF.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: darkslategrey;
}

.huandeng-container{
    display: flex;
    height: 500px;
    margin: 50px 5%;
    gap: 20px;
    border-radius: 12px;
}

.huandeng-left{
    flex:2;
    overflow: hidden;
}


.slider::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.3);
}


.slider-container{
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.slider-wrapper{
    width: 100%;
    height: auto;
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slider{
    min-width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.slider-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}


.slider-overlay{
    max-width: 30%;
    margin-left: 10%;
}


.slider-title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
  z-index: 10;
}

.slider-link-button {

  position: relative; 

  
  padding: 15px 30px;
  
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 10px aquamarine;
  opacity: 1;
  border-width: initial;
  

  font-size: 18px; 
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(90deg, aquamarine, aqua);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slider-link-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 18px #3e9aec66;
}

.huandeng-right{
    flex:1;
    background-color: rgba(32, 31, 31, 0.60);
    color: white;
    border-radius: 12px;
    padding: 20px;
}

.recommend-title{
  color: white;
}

.recommend-list{
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.recommend-item{
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  padding: 8px 6px;
  font-size: 18px;
}

.recommend-item a {
  color: inherit;
  text-decoration: none;
}

.recommend-item a:hover {
  color: hsl(226, 87%, 61%);
  text-decoration: none;
}
