.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.sidebar-overlay.active {
    visibility: visible;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #2c2c32;
    background-image: url(https://pan.axooo.cn/f/m2QBhk/yamota1%28dark%29.png);
    background-size: cover;
    background-position: center;
    z-index: 1002;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}
.close-btn:hover {
    color: white;
}

.sidebar-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-content ul li a {
    display: block;
    padding: 15px 20px;
    color: #e43112;
    text-decoration: none;
    transition: background 0.2s;
}

.sidebar-content ul li a:hover {
    background-color: none;
    color: rgb(96, 165, 237);
}



.head-app::before{
  content: "";
  position: absolute;
  inset: 0;
  padding: 0px 16px;
  justify-content: space-between;
}

.head-app{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #37373f;
    z-index: 1000;
    display: flex;
}

.head-menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    align-items: center;
    position: relative;
    width: 40px;
    left: 24px;
    display: flex;
}

.head-right{
    display: flex;
    position: relative;
    left: 80%;
}

.all-button{
    display: flex;
    align-items: center;
}

.head-login-button{
    display: flex;
    align-items: center;
    gap: 7px;
}

.header-login-btn{
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login{
    cursor: pointer;
}

.header-register-btn{
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.register{
    cursor: pointer;
}