.global{
    background-color: #113f6799;
    box-shadow: 0 3px 10px #0003;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: auto;
    position: relative;
    inset: 0.3;
    padding-bottom: 10%;
    color: aliceblue;
}

.skills{
    margin: 20px;
}
