body{
    background-color: #2a2a2a99;
    background-image: url("https://pan.axooo.cn/f/DDq1Uo/vergil.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}