---
import Header from "../components/navigation.astro";
import Sklls from "../components/sklls_description.vue";
import "../styles/vergil.css";

const skillsData = [
    {
        id: 1,
        sklls_name: "侧翻(未录制素材)",
        sklls_description: "向侧边闪避敌人的攻击。",
        sklls_command: "立于地面时，按shift+左或右方向键+空格键",
        img: "",
    },
    {
        id: 2,
        sklls_name: "接力跳(未录制素材)",
        sklls_description: "身在空中时，利用敌人作为垫脚石进行二段跳。",
        sklls_command: "身在空中时，接近敌人按空格",
        img: "",
    },
    {
        id: 3,
        sklls_name: "瞬步上行",
        sklls_description: "向上瞬移",
        sklls_command: "按瞬移键",
        img: "https://pan.axooo.cn/f/e24xTQ/%E4%B8%8A%E7%9E%AC.gif",
    },
    {
        id: 4,
        sklls_name: "隔空瞬步",
        sklls_description: "用幻影剑标记敌人，并瞬间移动到敌人身边。标记了多个敌人时，用方向键选择要瞬间接近的敌人。",
        sklls_command: "按shift+瞬移键或方向键+shift+瞬移键",
        img: "https://pan.axooo.cn/f/4534Hn/%E7%9E%AC%E7%A7%BB.gif",
    },
    {
        id: 5,
        sklls_name: "瞬步闪避",
        sklls_description: "朝方向键指向的方向瞬间移动。",
        sklls_command: "立于地面时，按方向键+闪避键",
        img: "https://pan.axooo.cn/f/MDx2cj/%E4%BE%A7%E9%97%AA.gif",
    },
    {
        id: 6,
        sklls_name: "瞬步退行(后瞬)",
        sklls_description: "在空中使用时瞬间移动到斜后下方。在地面时则会后退。(常用来取消招式后摇)",
        sklls_command: "按shift+先按向后键再快速按向前键+瞬移键",
        img: "https://pan.axooo.cn/f/PWxVsR/%E5%90%8E%E7%9E%AC.gif",
    },
    {
        id: 7,
        sklls_name: "格挡(未录制素材)",
        sklls_description: "防御敌人的攻击，需要消耗集中槽。集中槽达到2级或以上时，将敏捷灵巧地回避。",
        sklls_command: "集中槽达到1级或以上时，被敌人攻击后按shift",
        img: "",
    },
    {
        id: 8,
        sklls_name: "魔影分身(未录制素材)",
        sklls_description: "用魔力创造出分身，魔分身将跟随Vergil，模仿他的行动。通过x增速与v减速，z返回正常速度。按f或c送回分身。",
        sklls_command: "按f或z",
        img: "",
    },
    {
        id: 9,
        sklls_name: "V的世界",
        sklls_description: "通过阎魔刀的威力将恶魔从人身上切离，V与他的魔宠们进行毁灭性的攻击，且将恢复体力。",
        sklls_command: "按shift+旋转一圈方向键+闪避键(按后瞬失败也会触发)",
        img: "https://pan.axooo.cn/f/qg1AiV/V%E7%9A%84%E4%B8%96%E7%95%8C.gif",
    }
]
---

<html lang="zh-CN">
 	<head>
 		<meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>维吉尔</title>
 	</head>
    <body>
        <Header />

        <div id="app">
            <Sklls sklls={skillsData} client:load />
        </div>
    </body>
</html>