---
---

<div id="music_button" class="music_global" transition:persist>
    <audio
        id="music"
        src="https://pan.axooo.cn/f/MD3vcj/Victor%20Borba%20-%20Bury%20the%20Light.mp3"
        autoplay
        muted
        loop></audio>

    <div class="btn_playMovieCont">
        <button class="btn_playMovie"></button>
        <span class="icon_play"></span>
    </div>
</div>

<script>
    const audio = document.getElementById("music");
    const btn = document.getElementById("music_button");

    window.addEventListener(
        "click",
        () => {
            audio.muted = false;
            audio.volume = 0.2;
            audio.play();
        },
        { once: true },
    );
    btn.addEventListener("click", (e) => {
        e.stopPropagation();

        if (audio.paused && audio != null) {
            audio.play();
        } else {
            audio.pause();
        }
    });
</script>

<style>
    @keyframes ani_rotate {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .music_global {
        width: 120px;
        position: fixed;
        top: 75%;
        left: 85%;
        z-index: 4;
        cursor: pointer;
    }

    .btn_playMovieCont {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border-radius: 50%;
    }

    .btn_playMovie {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 50%;
        background-color: rgba(74, 190, 248, 0.4);
        mix-blend-mode: multiply;
        border: none;
        padding: 0;
    }

    .icon_play {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        pointer-events: none;
    }

    .icon_play:before {
        content: "";
        position: absolute;
        top: 0;
        left: 5%;
        right: 0;
        bottom: 0;
        width: 20%;
        height: 20%;
        margin: auto;
        background: url("https://pan.axooo.cn/f/ykd1Tg/arrow_r.svg") no-repeat right top / contain;
    }

    .icon_play:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 88%; 
        height: 88%;
        margin: auto;
        background: url("https://pan.axooo.cn/f/e2bGHQ/txt_playmovie.svg") no-repeat center / contain;
        animation: ani_rotate 10s linear infinite;
    }
</style>