---
import "../styles/navigation.css"
---
    <header class="head-app" style="opacity: 0.6;">
        <div class="head-menu">
            <i class="fa fa-align-justify menu"></i>
        </div>
        <div class="head-right">
            <div class="all-button">
                <div class="right-button">
                    <div class="head-login-button">
                        <div class="header-login-btn">
                            <button class="login">登录</button>
                        </div>
                        <div class="header-register-btn">
                            <button class="register">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
